/*
HEADER
*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dcdcdc;    
}

/*
VIRTUAL STORE BUTTON
*/

#btnVirtualStore {
    display: flex;
    background-color: #f55c1f;
    justify-content: space-around;
    align-items: center;
    min-width: 292px;
    min-height: 46px;
    border-radius: 25px;
    text-decoration: none;    
}
#btnVirtualStore img {
    padding-left: 20px;
}
header a h3 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    padding-right: 40px;
}

/*
SEARCH BOX
*/

#formSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    border-width: 1px;
    border-style: solid;
    border-color: #c9c9c9;
    border-radius: 3px;
    min-width: 270px;
    width: 29vw;
}
#txtSearch {
    border: none;
    width: 90vw;
    outline: none;
    padding-left: 13px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #a7a7a7;
}

/*
NAVIGATION BAR
*/

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 200px 15px 200px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    color: #848484;    
}

/*
HIGHLIGHTS
*/

#highlight {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
#highlightPost {
    position: relative;
    width: 820px;
    height: 416px;
    margin-right: 0px;
    margin-left: 0px;
}
#highlightPost figcaption {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    padding: 30px;
    bottom: 0px;
    top: 71%;
    left: 0px;
    right: 0px;
    background:rgba(12,12,12,0.4);    
}
#highlightPost figcaption h1 {
    order: 1;
    width: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.35rem;
    font-weight: 300;
    margin-top: 0;
    color: #ffffff;
}
#highlightPost figcaption h2 {
    order: 0;
    color: #ffffff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.72rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 10px;
    padding: 7px 10px;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
}
#highlightPost figcaption time {
    order: -1;
    color: #ffffff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.72rem;
    font-weight: 400;
    text-transform: uppercase;
}

/*
HIGHLIGHTS ASIDE
*/

#highlightAside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    background: #4fa8ea;
    height: 416px;    
}
.asidePost {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    margin: 40px;
}
#asideMiddle {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgba(140,198,241,0.65);
    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: rgba(140,198,241,0.65);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.asidePost h1 {
    order: 1;
    width: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
}
.asidePost h2 {
    order: 0;
    color: #ffffff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.72rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 15px;
    padding: 7px 10px;
    border: 1px;
    border-color: #ffffff;
    border-style: solid;
}
.asidePost time {
    order: -1;
    color: #ffffff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.72rem;
    font-weight: 400;
    text-transform: uppercase;
}

/*
LAST POSTS
*/

#lastPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#lastPost h1 {
    width: 100%;
    text-align: left;
    padding-left: 30px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
    color: #666666;
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 8px;
}
#lastPost article {
    display: flex;
    flex-wrap: wrap;
}
#btnLoad {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 260px;
    min-height: 50px;
    background-color: #f55c1f;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.95rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;  
    border-radius: 4px;
    margin-top: 50px;
}
.post {
    display: flex;
    flex-wrap: wrap;    
}
.lastPostFigure {
    position: relative;
    width: 295px;
    height: 190px;
}
.lastPostFigure figcaption {
    position: absolute;
    right: 0px;
    top: 80%;
    padding: 7px 15px;
    color: #ffffff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.72rem;
    font-weight: 400;
    text-transform: uppercase;
    background: #265291;        
}
.post aside {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    width: 300px;
    height: 190px;    
}
.post h2 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #545353;
}
.post p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #8e8d8d;
    text-align: justify;
}
.post time {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    color: #9d9c9c;
    align-self: center;
}
.post a {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;    
    text-decoration: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    color: #9d9c9c; 
}
.post a img {
    padding-bottom: 5px;
}
.post a span {
    margin-left: 5px;
    margin-right: 7px;
}

/*
MORE INFO SECTION
*/

#moreInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 70px;
}
#infoTags {   
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 620px;
}
#infoTags a {
    display: inline-flex;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #a4a4a4;
    background-color: #e5e5e5;
    align-self: center;
    text-decoration: none;
    padding: 7px 12px;
    margin-left: 10px;
}
#infoTags h1 {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
    color: #666666;
    margin-top: 0px;
}
#calendar {    
    background-color: #265291;
    text-decoration: none;
    width: 293px;
    height: 263px;    
}
#calendar article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    width: 273px;
    height: 243px;
    margin-left: 9px;
    margin-top: 9px;
    color: #ffffff;
}
#calendar img {
    margin-top: 40px;
}
#calendar h3 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.40rem;
    font-weight: 300;    
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0px;
}
#calendar h3 span {
    font-weight: 600;
}
#calendar h4 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    margin-top: 0px;
}

/*
FOOTER - REGISTER
*/

#register {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #4fa8ea;
    margin-top: 50px;
    padding: 15px 15px 15px 45px;
}
#register img {
    margin-left: 3px;
    margin-top: 10px;
}
#register div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;    
}
#register h4 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.98rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    margin: 0 0 2px 0;
}
#register h5 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.95rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    margin: 0px;
}
#register form input {
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #4fa8ea;
    background-color: #ffffff;  
    width: 270px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 13px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #9b9b9b;
}
input[type=email] {
    margin-left: 10px;
}
input[name=name] {
    margin-left: 30px;
}
#btnRegister {
    display: flex;
    background-color: #f55c1f;    
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 42px;
    border-radius: 4px;
    text-decoration: none;    
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 10px;
}

/*
ABOUT
*/

#about {
    display: flex;
    flex-wrap: wrap;
    background-color: #005392;
    padding-top: 50px;
    padding-left: 45px;
    padding-bottom: 50px;
}
#moreAbout {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.82rem;
    font-weight: 300;
    color: #8e8d8d;
    text-align: justify;
    color: #ffffff;    
}
#moreAbout p{
    margin-top: 15px;
    line-height: 18px;
}
#contact {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    justify-content: space-around;
}
#contact h3 {
    width: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 30px;
}
.contactArticle {
    display: flex;
    flex-direction: column;
}
.contactArticle h4 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px;
    padding-top: 8px;
    padding-left: 5px;
}
.contactArticle p {
    padding: 0px;
    margin: 0 0 0 15px;
}
.contactArticle p a{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.95rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;    
}
.contactHeader {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.contactList {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}
#twoPhones {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 150px;
    margin-left: 4px;
}